body{
  background: linear-gradient(-45deg, #CD5C5C,#8B008B,#483D8B, #4169E1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

img.card-img-top{
  height:498px;
}

#neon {
  background-image: url(./neon_tokyo2.jpg);
   background-size: 385px 400px;
   border-radius: 20px;
    background-attachment:scroll; 
    height:100px;
    align-items:center;
}

.col-12 {
  backdrop-filter: blur(2px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .container {
    display: run-in;
    text-align: center;
    vertical-align: middle;
  }
  
  div.col-12 h1 {
    font-family: neon;
    color: #FB4264;
    font-size: 6vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  div.col-12 h2 {
    font-family: neon;
    color: #426DFB;
    font-size: 4vw;
    line-height: 2vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  div.col-12 h1 {
    animation: neon 4s ease infinite;
    -moz-animation: neon 4s ease infinite;
    -webkit-animation: neon 4s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  div.col-12 h2 {
    animation: flux 0s linear infinite;
    -moz-animation: flux 0s linear infinite;
    -webkit-animation: flux 5s linear infinite;
    -o-animation: flux 0s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

  #intro{
    font-family: 'Bowlby One SC', cursive;
    -webkit-text-stroke:2px black;
    color:rgb(211, 175, 214);
    font-size: 2vw;
    line-height: 2.2vw;
    text-shadow: 0 0 3vw #2356FF;
    width:83%;
    margin-left:auto;
    margin-right:auto;
  }

  .d-flex {
    display: flex!important;
    justify-content: center;
  }

  #searchBar {
    width: 75%;
    border-radius: 20px;
    background: black;
    color: white;
    min-height: 38px;
    margin-bottom: 40px;
  }
   #searchButton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.3em 0.3em 0;
    margin-bottom: 40px;
    border-radius: 5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Bowlby One SC',sans-serif;
    font-weight: 300;
    color: white;
    background: black;
    text-align: center;
   }
 
  
    .card-wrapper {
      margin-bottom: 30px;
    }
    .card-image .card .card-img-wrapper {
      height: 100%;
    }
    .card-image .card .card-body {
      display: none;
    }
    .card-image-title-description .card .card-img-wrapper {
      max-height: 160px;
    }
    .card-image-title-description .card {
      position: relative;
      min-height: 300px;
    }
    .card-image-title-description .card .card-body {
      height: auto;
      position: relative;
      top: 0;
      margin-bottom: -50px;
    }
    .card-image-title-description .card:hover .card-body {
      top: -70px;
    }
    .card-image-title-description .card .card-body .card-title {
      margin-bottom: .75rem;
    }
    .card {
      display: inline-block;
      position: relative;
      overflow: hidden;
      min-height: 250px;
      height: 100%;
    }
    .card:hover {
      box-shadow: 8px 12px 31px -10px #ab98ab;
    }
    .card-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      overflow: hidden;
    }
    .card-img-wrapper img {
      transition: 1.5s ease;
    }
    .card:hover .card-img-wrapper img {
      transform: scale(1.15);
    }
    .card-body .card-title {
      margin-bottom: calc(50% + 20px);
      transition: 1.5s ease;
    }
    .card:hover .card-body .card-title {
      margin-bottom: .75rem;
    }
    
    .card-body {
      color: white;
      font-family: 'Bowlby One SC', cursive;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      background-color: black;
      transition: 1.5s ease;
    }
    .card-content {
      color:white;
      font-family: 'Oswald', sans-serif;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 100%;
      height: auto;
      transition: 1.5s ease;
    }
    .card:hover .card-body {
      height: 80%;
    }
    .card:hover .card-content {
      bottom: 0;
    }

    .btn-primary{
      display:inline-block;
      padding:0.5em 3em;
      border-bottom: none !important;
      border-left: 1px solid rgb(8, 72, 167) !important;
      border-right: 1px solid rgb(8, 72, 167) !important;
      border-top: none !important;
      margin:0 0.3em 0.3em 0;
      box-sizing: border-box;
      text-decoration:none;
      text-transform:lowercase;
      font-family: 'Oswald', sans-serif !important;
      font-weight:400;
      color:#FFFFFF;
      background: none !important;
      text-align:center;
      transition: all 0.15s;
    }
    .btn-primary:hover{
      color: rgb(3, 3, 3) !important;
      background: rgb(194, 70, 194) !important;
      transition-duration: .20s;
      
    }
    .btn-primary:active{
      color: rgb(19, 48, 146);
      
    }
    @media all and (max-width:30em){
      .btn-primary{
        display:block;
        margin:0.4em auto;
      }
    }

  .modal-body,.modal-header, .modal-footer{
    color:white;
    background-color: black;
  }
   
  
    
    
  
  
  
 

    

    

     

     

    

